<div class="about">
  <h2 class="block-title">О нашем клубе</h2>
  <h3 class="block-subtitle">Подзаголовок</h3>
  <div class="block-content">
    {{>picture setPath="/assets/img/mid/about/about.webp" srcPath="/assets/img/mid/about/about.png" alt="О клубе"}}
    <div class="about-content">
      <div class="about-pros">
        <div>
          <h3>1100+</h3>
          <span>Довольный посетителей за последний год</span>
        </div>
        <div>
          <h3>50+</h3>
          <span>Проведенных мероприятий за 6 месяцев</span>
        </div>
        <div>
          <h3>20+</h3>
          <span>Выпущенных профессиональных спортсменов за 1 год</span>
        </div>
        <div>
          <h3>15+</h3>
          <span>Регулярный занятий в неделю с профессиональными наставниками</span>
        </div>
      </div>
      <p>
        Занятия проводятся индивидуально и в группах, стоимость также будет зависеть от ваших навыков и умений. Более
        выгодные условия предусмотрены для регулярных занятий при покупке абонементов. Для тех, кто хочет отточить своё
        мастерство, разработаны программы по специализации (конкур, выездка и другие), участие в соревнованиях
        и чемпионатах. Для самых маленьких любителей лошадей действуют пони-клубы, где ребята учатся ухаживать
        за животными и ездить на милых и добрых пони.
      </p>
    </div>
  </div>
</div>
