<div class="advantages">
  <h2 class="block-title">Удобное расположение</h2>
  <span class="block-subtitle">Подзаголовок блока</span>
  <div class="cards">
    <div class="card">
      <figure class="w-full h-32"><img src="/assets/img/mid/advantages/map-scheme.webp" alt="Удобное расположение"></figure>
      <div class="card-body">
        <h3 class="card-title">Удобное расположение</h3>
        <p>Мы находимся недалеко
          от автостанции «Восточный» чтобы вам было удобно добираться</p>
      </div>
    </div>
    <div class="card">
      <figure class="w-full h-32"><img src="/assets/img/mid/advantages/table.webp" alt="Обеденная зона"></figure>
      <div class="card-body">
        <h3 class="card-title">Обеденная зона</h3>
        <p>Имеется столовая, чтобы Вы могли перекусить и немного отдохнуть. Бесплатно чай, кофе, печенки.</p>
      </div>
    </div>
    <div class="card">
      <figure class="w-full h-32"><img src="/assets/img/mid/advantages/stopwatch.webp" alt="Секундомер"></figure>
      <div class="card-body">
        <h3 class="card-title">Профессиональные тренера</h3>
        <p>Наши преподаватели имеют награды в конном спорте, и отличные отзывы среди наших учеников</p>
      </div>
    </div>
    <div class="card">
      <figure class="w-full h-32"><img src="/assets/img/mid/advantages/parking.webp" alt="Парковка"></figure>
      <div class="card-body">
        <h3 class="card-title">Бесплатная парковка</h3>
        <p>У нас имеется просторная парковка, чтобы вы могли без проблем припарковать свой автомобиль</p>
      </div>
    </div>
  </div>
</div>