<div class="feedback">
  <div class="content-wrapper feedback-inner">
    <form action="" class="feedback-form">
      <h2 class="block-title m-0">Отвечаем на вопросы</h2>
      <p class="block-subtitle max-w-xs">Мы ответим на все ваши вопросы по телефону,
        или вы можете записаться на бесплатное
        пробное занятие</p>
      <div class="inputs-wrapper">
        <label for="" aria-label="Имя"></label>
        <input class="input input-lg border border-neutral" type="text" placeholder="Ваше имя">
        <label for="" aria-label="Телефон"></label>
        <input class="input input-lg border border-neutral" type="tel" placeholder="Ваш телефон">
      </div>
      <button class="btn-gradient m-4">Задать вопрос</button>
      <label class="flex gap-4" for="">
        <input class="checkbox checkbox-accent" type="checkbox" name="aprove" id="approve">
        <span>Даю согласие на <a class="link" href="#!">обработку данных</a></span>
      </label>
    </form>
  </div>
</div>