<div class="horses">
  <h3 class="block-title">Наши лошади</h3>
  <div class="horses-slider swiper"><!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <div class="card">
          <figure>{{>picture setPath="/assets/img/mid/horses/horses/hs4.webp" srcPath="/assets/img/mid/horses/horses/hs4.png"}}</figure>
          <div class="card-body">
            <h3 class="card-title">Жазель</h3>
            <div class="divider w-14 mx-auto"></div>
            <p>Гнедые лошади обычно имеют хорошую физическую выносливость и могут справляться с большими нагрузками, что делает их хорошими кандидатами для длительных верховых прогулок и соревнований в конном спорте.</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card">
          <figure>{{>picture setPath="/assets/img/mid/horses/horses/hs1.webp" srcPath="/assets/img/mid/horses/horses/hs1.png"}}</figure>
          <div class="card-body">
            <h3 class="card-title">Юджин</h3>
            <div class="divider w-14 mx-auto"></div>
            <p>Гнедые лошади могут быть непредсказуемы, поэтому необходимо быть внимательным и осторожным во время обучения и езды.</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card">
          <figure>{{>picture setPath="/assets/img/mid/horses/horses/hs2.webp" srcPath="/assets/img/mid/horses/horses/hs2.png"}}</figure>
          <div class="card-body">
            <h3 class="card-title">Мелисса</h3>
            <div class="divider w-14 mx-auto"></div>
            <p>Рыжие лошади могут быть достаточно требовательными и чувствительными, поэтому необходимо иметь хорошую коммуникацию и доверие между верховым наездником и лошадью для успешной езды на них.</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card">
          <figure>{{>picture setPath="/assets/img/mid/horses/horses/hs3.webp" srcPath="/assets/img/mid/horses/horses/hs3.png"}}</figure>
          <div class="card-body">
            <h3 class="card-title">Циан</h3>
            <div class="divider w-14 mx-auto"></div>
            <p>вороная лошадь обычно обладает отличными техническими качествами, такими как гибкость, легкость в управлении и быстрый отклик на подачу сигналов. Эти качества позволяют ей быстро приспосабливаться к изменяющимся условиям и оставаться уверенной и стабильной в различных ситуациях.</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card">
          <figure>{{>picture setPath="/assets/img/mid/horses/horses/hs5.webp" srcPath="/assets/img/mid/horses/horses/hs5.png"}}</figure>
          <div class="card-body">
            <h3 class="card-title">Хесана</h3>
            <div class="divider w-14 mx-auto"></div>
            <p>Белые лошади обычно имеют красивую форму тела, хорошо развитые мышцы и грациозные движения. Сегодня они используются в конных мероприятиях, таких как выставки, соревнования по выездке и другие.</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card">
          <figure>{{>picture setPath="/assets/img/mid/horses/horses/hs1.webp" srcPath="/assets/img/mid/horses/horses/hs1.png"}}</figure>
          <div class="card-body">
            <h3 class="card-title">Мелисса</h3>
            <div class="divider w-14 mx-auto"></div>
            <p>вороная лошадь обычно обладает отличными техническими качествами, такими как гибкость, легкость в управлении и быстрый отклик на подачу сигналов. Эти качества позволяют ей быстро приспосабливаться к изменяющимся условиям и оставаться уверенной и стабильной в различных ситуациях.</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card">
          <figure>{{>picture setPath="/assets/img/mid/horses/horses/hs1.webp" srcPath="/assets/img/mid/horses/horses/hs1.png"}}</figure>
          <div class="card-body">
            <h3 class="card-title">Жазель</h3>
            <div class="divider w-14 mx-auto"></div>
            <p>Гнедые лошади могут быть непредсказуемы, поэтому необходимо быть внимательным и осторожным во время обучения и езды.</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card">
          <figure>{{>picture setPath="/assets/img/mid/horses/horses/hs1.webp" srcPath="/assets/img/mid/horses/horses/hs1.png"}}</figure>
          <div class="card-body">
            <h3 class="card-title">Юджин</h3>
            <div class="divider w-14 mx-auto"></div>
            <p>Рыжие лошади могут быть достаточно требовательными и чувствительными, поэтому необходимо иметь хорошую коммуникацию и доверие между верховым наездником и лошадью для успешной езды на них.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="gallery-nav-bot">
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="slider-nav btn-left swiper-button-prev">
        <svg width="9" height="15" viewBox="0 0 9 15" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M3.27231 7.5L9 1.6664L7.36385 0L0 7.5L7.36385 15L9 13.3336L3.27231 7.5Z" fill="currentColor" />
        </svg>
      </div>
      <div class="slider-nav btn-right swiper-button-next">
        <svg width="9" height="15" viewBox="0 0 9 15" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M5.72769 7.5L0 1.6664L1.63615 0L9 7.5L1.63615 15L0 13.3336L5.72769 7.5Z" fill="currentColor" />
        </svg>
      </div>
    </div>
  </div>
</div>