<div class="reviews">
  <h3 class="block-title">О нас говорят клиенты</h3>
  <div class="reviews-slider swiper">
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide shadow-xl">
        <div class="card">
          <div class="card-body">
            <p>Развивает силу, гибкость и координацию всадника; Выпрямляется осанка и повышается стрессоустойчивость; Общение с лошадью
            лечит умственные отклонения.</p>
            <div class="collapse collapse-arrow max-w-md self-center rounded-lg shadow-md">
              <input type="checkbox" class="peer" />
              <div class="collapse-title text-accent">
                Подробнее
              </div>
              <div class="collapse-content bg-base-100 shadow-md">
                <p>hello</p>
              </div>
            </div>
            <div class="signature">
              <div class="avatar placeholder">
                <div class="bg-neutral text-neutral-content rounded-full w-16"><span>PH</span></div>
              </div>
              <div class="avatar-info">
                <h4 class="avatar-title">Константин Сюткин</h4>
                <div class="avatar-socials">
                  <a class="link" href="#!"><img src="/assets/img/mid/reviews/instagram.svg" alt="" width="24" height="24"></a>
                    <a class="link" href="#!"><img src="/assets/img/mid/reviews/vk.svg" alt="" width="24" height="24"></a>
                </div>
              </div>
              <div class="signature-quote"><img src="/assets/img/mid/reviews/quote/quote.webp" alt=""></div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide shadow-xl">
        <div class="card">
          <div class="card-body">
            <p>Развивает силу, гибкость и координацию всадника; Выпрямляется осанка и повышается стрессоустойчивость; Общение с лошадью
            лечит умственные отклонения.</p>
            <div class="collapse collapse-arrow max-w-md self-center rounded-lg shadow-md">
              <input type="checkbox" class="peer" />
              <div class="collapse-title text-accent">
                Подробнее
              </div>
              <div class="collapse-content bg-base-100 shadow-md">
                <p>hello</p>
              </div>
            </div>
            <div class="signature">
              <div class="avatar placeholder">
                <div class="bg-neutral text-neutral-content rounded-full w-16"><span>PH</span></div>
              </div>
              <div class="avatar-info">
                <h4 class="avatar-title">Константин Сюткин</h4>
                <div class="avatar-socials">
                  <a class="link" href="#!"><img src="/assets/img/mid/reviews/instagram.svg" alt="" width="24" height="24"></a>
                    <a class="link" href="#!"><img src="/assets/img/mid/reviews/vk.svg" alt="" width="24" height="24"></a>
                </div>
              </div>
              <div class="signature-quote"><img src="/assets/img/mid/reviews/quote/quote.webp" alt=""></div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide shadow-xl">
        <div class="card">
          <div class="card-body">
            <p>Развивает силу, гибкость и координацию всадника; Выпрямляется осанка и повышается стрессоустойчивость; Общение с лошадью
            лечит умственные отклонения.</p>
            <div class="collapse collapse-arrow max-w-md self-center rounded-lg shadow-md">
              <input type="checkbox" class="peer" />
              <div class="collapse-title text-accent">
                Подробнее
              </div>
              <div class="collapse-content bg-base-100 shadow-md">
                <p>hello</p>
              </div>
            </div>
            <div class="signature">
              <div class="avatar placeholder">
                <div class="bg-neutral text-neutral-content rounded-full w-16"><span>PH</span></div>
              </div>
              <div class="avatar-info">
                <h4 class="avatar-title">Константин Сюткин</h4>
                <div class="avatar-socials">
                  <a class="link" href="#!"><img src="/assets/img/mid/reviews/instagram.svg" alt="" width="24" height="24"></a>
                    <a class="link" href="#!"><img src="/assets/img/mid/reviews/vk.svg" alt="" width="24" height="24"></a>
                </div>
              </div>
              <div class="signature-quote"><img src="/assets/img/mid/reviews/quote/quote.webp" alt=""></div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide shadow-xl">
        <div class="card">
          <div class="card-body">
            <p>Развивает силу, гибкость и координацию всадника; Выпрямляется осанка и повышается стрессоустойчивость; Общение с лошадью
            лечит умственные отклонения.</p>
            <div class="collapse collapse-arrow max-w-md self-center rounded-lg shadow-md">
              <input type="checkbox" class="peer" />
              <div class="collapse-title text-accent">
                Подробнее
              </div>
              <div class="collapse-content bg-base-100 shadow-md">
                <p>hello</p>
              </div>
            </div>
            <div class="signature">
              <div class="avatar placeholder">
                <div class="bg-neutral text-neutral-content rounded-full w-16"><span>PH</span></div>
              </div>
              <div class="avatar-info">
                <h4 class="avatar-title">Константин Сюткин</h4>
                <div class="avatar-socials">
                  <a class="link" href="#!"><img src="/assets/img/mid/reviews/instagram.svg" alt="" width="24" height="24"></a>
                    <a class="link" href="#!"><img src="/assets/img/mid/reviews/vk.svg" alt="" width="24" height="24"></a>
                </div>
              </div>
              <div class="signature-quote"><img src="/assets/img/mid/reviews/quote/quote.webp" alt=""></div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide shadow-xl">
        <div class="card">
          <div class="card-body">
            <p>Развивает силу, гибкость и координацию всадника; Выпрямляется осанка и повышается стрессоустойчивость; Общение с лошадью
            лечит умственные отклонения.</p>
            <div class="collapse collapse-arrow max-w-md self-center rounded-lg shadow-md">
              <input type="checkbox" class="peer" />
              <div class="collapse-title text-accent">
                Подробнее
              </div>
              <div class="collapse-content bg-base-100 shadow-md">
                <p>hello</p>
              </div>
            </div>
            <div class="signature">
              <div class="avatar placeholder">
                <div class="bg-neutral text-neutral-content rounded-full w-16"><span>PH</span></div>
              </div>
              <div class="avatar-info">
                <h4 class="avatar-title">Константин Сюткин</h4>
                <div class="avatar-socials">
                  <a class="link" href="#!"><img src="/assets/img/mid/reviews/instagram.svg" alt="" width="24" height="24"></a>
                    <a class="link" href="#!"><img src="/assets/img/mid/reviews/vk.svg" alt="" width="24" height="24"></a>
                </div>
              </div>
              <div class="signature-quote"><img src="/assets/img/mid/reviews/quote/quote.webp" alt=""></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="gallery-nav-bot">
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="slider-nav btn-left swiper-button-prev">
        <svg width="9" height="15" viewBox="0 0 9 15" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M3.27231 7.5L9 1.6664L7.36385 0L0 7.5L7.36385 15L9 13.3336L3.27231 7.5Z" fill="currentColor" />
        </svg>
      </div>
      <div class="slider-nav btn-right swiper-button-next">
        <svg width="9" height="15" viewBox="0 0 9 15" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M5.72769 7.5L0 1.6664L1.63615 0L9 7.5L1.63615 15L0 13.3336L5.72769 7.5Z" fill="currentColor" />
        </svg>
      </div>
    </div>
  </div>
</div>