<div class="ways">
  <h2 class="block-title">Направления клуба</h2>
  <h3 class="block-subtitle">подзаголовок</h3>
  <div class="ways-cards" data-masonry='{"itemSelector": ".card", "gutter": 100}'>
    <div class="card">
      <figure><img src="/assets/img/mid/ways/ways-cards/ways1.webp" alt="уроки"></figure>
      <div class="card-body">
        <h3 class="card-title">Уроки верховой езды</h3>
        <p>Уроки профессиональной верховой езды для любителей и начинающих</p>
      </div>
    </div>
    <div class="card">
      <figure><img src="/assets/img/mid/ways/ways-cards/ways2.webp" alt="Прогулки"></figure>
      <div class="card-body">
        <h3 class="card-title">Прогулки верхом с тренером</h3>
        <p>Тренировка клиентов, подготовка
          к занятиям конным спортом
          на профессиональном уровне под руководством опытных теннеров</p>
      </div>
    </div>
    <div class="card">
      <figure><img src="/assets/img/mid/ways/ways-cards/ways3.webp" alt="Фотосессии"></figure>
      <div class="card-body">
        <h3 class="card-title">Фотосессии</h3>
        <p>Уроки профессиональной верховой езды для любителей и начинающих</p>
      </div>
    </div>
    <div class="card">
      <figure><img src="/assets/img/mid/ways/ways-cards/ways4.webp" alt="Фотосессии"></figure>
      <div class="card-body">
        <h3 class="card-title">Фотосессии</h3>
        <p>Уроки профессиональной верховой езды для любителей и начинающих</p>
      </div>
    </div>
    <div class="card">
      <figure><img src="/assets/img/mid/ways/ways-cards/ways5.webp" alt="Фотосессии"></figure>
      <div class="card-body">
        <h3 class="card-title">Фотосессии</h3>
        <p>Уроки профессиональной верховой езды для любителей и начинающих</p>
      </div>
    </div>
    <div class="card">
      <figure><img src="/assets/img/mid/ways/ways-cards/ways6.webp" alt="Фотосессии"></figure>
      <div class="card-body">
        <h3 class="card-title">Фотосессии</h3>
        <p>Уроки профессиональной верховой езды для любителей и начинающих</p>
      </div>
    </div>
  </div>
  <button class="btn-gradient">Записаться</button>
</div>