@import url(./css/footer.css);
@import url(./css/typography.css);
@import url(./css/header.css);
@import url(./css/about.css);
@import url(./css/advantages.css);
@import url(./css/ways.css);
@import url(./css/clients-gallery.css);
/* @import url(./sass/mixins.sass); */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Montserrat, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  font-family: Montserrat, sans-serif;
  margin: 0;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Philosopher, arial;
}

/* h1 {
  @apply mb-5 text-5xl font-bold;
} */
#app,
.app {
  width: 100%;
  max-width: 1920px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 1 auto;
  position: relative;
  /* @apply max-w-screen-xmd mx-auto; */
}

.btn-gradient {
  @apply btn btn-lg btn-wide text-primary-content bg-gradient-to-b from-primary to-secondary hover:to-[#FFB800] active:bg-gradient-to-t shadow-md active:shadow-sm border-transparent hover:border-transparent font-sans font-semibold;
}

.slider-nav {
  @apply btn !btn-circle !text-primary-content bg-gradient-to-b from-primary to-secondary hover:to-[#FFB800] active:bg-gradient-to-t shadow-md active:shadow-sm border-transparent hover:border-transparent font-sans font-semibold;
}
.btn-right {
  @apply !-top-[25%] !right-1/3 absolute z-20;
}
.btn-left {
  @apply !-top-[25%] !left-1/3 absolute z-20;
}
.cards {
  @apply flex flex-col gap-4 lg:flex-row justify-between md:gap-4 lg:gap-4 mx-auto my-6;
}

/* .header, .footer, .ways, .offers, .faq, .clients, .advantages, .about {
  @apply container mx-auto;
} */
.text-mid {
  @apply text-xl sm:text-2xl text-center sm:text-left lg:w-3/4 xl:w-full;
}

.header {
  background-image: url(/assets//img/top/bg/bg-head/bg-head.webp);
  @apply bg-primary min-h-[90vh] bg-no-repeat bg-cover bg-center;
}